<body style="font-family: Calibri;">
<h2 id="-appletinoy-google-form-"><strong>AppleTinoy Google Form</strong></h2>
<h3 id="1-have-you-ever-used-other-products-from-apple-company-">1. Have you ever used other products from Apple Company?</h3>
<ul>
<li>Choices:<ul>
<li>Yes</li>
<li>No</li>
</ul>
</li>
</ul>
<h3 id="2-all-in-all-how-would-you-rate-apple-company-">2. All in all, How would you rate <strong>Apple Company</strong>?</h3>
<ul>
<li>Choices:<ul>
<li>Extremely Poor</li>
<li>Poor</li>
<li>Good</li>
<li>Average</li>
<li>Execellent</li>
</ul>
</li>
</ul>
<h3 id="3-rate-your-overall-satisfaction-with-the-products-you-used-from-apple-">3. Rate your overall satisfaction with the products you used from <strong>Apple</strong>.</h3>
<ul>
<li>Choices:<ul>
<li>Extremely Dissatisfied</li>
<li>Dissatisfied</li>
<li>Satisfied</li>
<li>Neutral</li>
<li>Extremely Satisfied</li>
</ul>
</li>
</ul>
<h3 id="4-how-do-you-rate-the-recent-iphone-13-">4. How do you rate the recent <strong>Iphone 13</strong>?</h3>
<ul>
<li>Choices:<ul>
<li>Very Poor</li>
<li>Poor</li>
<li>Fair</li>
<li>Good</li>
<li>Very Good</li>
</ul>
</li>
</ul>
<h3 id="5-how-would-you-rate-the-product-s-quality-">5. How would you rate the product&#39;s quality?</h3>
<ul>
<li>Choices:<ul>
<li>Very Poor</li>
<li>Poor</li>
<li>Fair</li>
<li>Good</li>
<li>Very Good</li>
</ul>
</li>
</ul>
</body>