<body style="font-family: Segoe UI;">
    <p>Name: Charles, Tinoy<br>
        10-Ruby</p>
        <h2 id="i-suliraning-pangkapaligiran">I. Suliraning Pangkapaligiran</h2>
        <h3 id="assignment-copy-it-at-yellow-pad">Assignment: Copy it at Yellow Pad</h3>
        <ol>
        <li><p>Magbigay ng 3 Halimbawa ng mga suliraning Pangkapaligiran.</p>
        <ul>
        <li><strong>A.</strong> Global Warming<ul>
        <li>Ang Global Warming ay ang pagtaas ng temperature ng mundo. Kada isang daang taon ay napansin ng mga ekperto na tumataas ang tipikal na temperature ng mundo.</li>
        </ul>
        </li>
        <li><strong>B.</strong> Deforestation<ul>
        <li>Ang deforestation ay ang suliraning pangkalikasan kung saan lumiliit ang bilang mga puno o kagubatan.</li>
        </ul>
        </li>
        <li><strong>C.</strong> Pagkawala ng Biodiversity<ul>
        <li>Ang kaganapang ito ay epekto ng mga naunang suliraning pangkapaligiran.</li>
        </ul>
        </li>
        </ul>
        </li>
        <li><p>Anu-ano ang mga dapat gawin bago, habang at pagkatapos ng kalamidad?</p>
        <ul>
        <li><strong>Kalamidad</strong><ol>
        <li>Bagyo</li>
        <li>Lindol</li>
        <li>Landslide</li>
        </ol>
        </li>
        <li><strong>Bago</strong><ol>
        <li>manood ng mga balita patungkol sa bagyong papasok sa bansa</li>
        <li>kailangan nating maghanda ng First-Aid-Kit</li>
        <li>Dapat nating isaalang-alang at malaman na hindi natin makakayang sabihin kung kailan magkakaroon ng pagguho ng lupa</li>
        </ol>
        </li>
        <li><strong>Habang</strong><ol>
        <li>pumunta at manatili sa ligtas na lugar</li>
        <li>Duck, cover and hold</li>
        <li>mag hanap ng maaring pag-iwasan ng lupa</li>
        </ol>
        </li>
        </ul>
        </li>
        </ol>                 
</body>