<body style="font-family: Segoe UI;">
    <h2 id="i-suliraning-pangkapaligiran">I. Suliraning Pangkapaligiran</h2>
<h3 id="assignment-copy-it-at-yellow-pad">Assignment: Copy it at Yellow Pad</h3>
<ol>
<li><p>Magbigay ng 3 Halimbawa ng mga suliraning Pangkapaligiran.</p>
<ul>
<li><strong>A.</strong></li>
<li><strong>B.</strong></li>
<li><strong>C.</strong></li>
</ul>
</li>
<li><p>Anu-ano ang mga dapat gawin bago, habang at pagkatapos ng kalamidad?</p>
<ul>
<li>Kalamidad<ul>
<li><strong>1 - 5</strong></li>
</ul>
</li>
<li>Bago<ul>
<li><strong>1 - 5</strong></li>
</ul>
</li>
<li>Habang<ul>
<li><strong>1 - 5</strong></li>
</ul>
</li>
<li>Pagkatapos<ul>
<li><strong>1 - 5</strong></li>
</ul>
</li>
</ul>
</li>
</ol>
</body>