<body style="font-family: Calibri;">
<h2 id="computer-assignment-1">Computer Assignment #1</h2>
<hr>

<p><strong>1. What is computer?</strong></p>
<ul>
<li>an electronic device for storing and processing data, typically in binary form, according to instructions given to it in a variable program.</li>
</ul>
<p><strong>2. What are 5 classification of computers?</strong></p>
<ul>
<li>Super Computer</li>
<li>Mainframe Computer</li>
<li>Mini Computer</li>
<li>Micro Computer</li>
<li>Digital Computer</li>
</ul>
<p><strong>3. Name 5 personal computers</strong></p>
<ul>
<li>Desktop Computers.</li>
<li>Workstations.</li>
<li>Laptop Computers.</li>
<li>Notebook Computers.</li>
<li>Tablet Computers.</li>
</ul>
</body>