<body style="font-family: Segoe UI;">
    <ul>
        <h2 id="sequence">Sequence</h2>
    </ul>
    <ul>
    <li>A functon whos domain is either the set of natural numbers.<h2 id="term">Term</h2>
    </li>
    <li>Is any number in a sequence.<h2 id="finite-sequence">Finite Sequence</h2>
    </li>
    <li>A sequence function whose domain is a finite subset of the set of natural numbers.<h2 id="infinite-sequence">Infinite Sequence</h2>
    </li>
    <li>A sequence function whose domain is either the set of natural numbers or a finite subset of the set of natural numbers.<h2 id="series">Series</h2>
    </li>
    <li>The sum of the terms in a sequence.<h2 id="finite-series">Finite Series</h2>
    </li>
    <li>The sum of the terms of a finite sequence.<h2 id="infinite-series">Infinite Series</h2>
    </li>
    <li>The sum of the terms of an infinite sequence.<h2 id="general-term">General Term</h2>
    </li>
    <li>It is the nth term.<h2 id="ellipsis">Ellipsis</h2>
    </li>
    <li>3 dots indicating infinite sequence.<h2 id="geometric-series">Geometric Series</h2>
    </li>
    <li>The sum of all terms of a geometric sequence.<h2 id="geometric-mean">Geometric Mean</h2>
    </li>
    <li>It is a term between any two terms.<h2 id="geometric-sequence">Geometric Sequence</h2>
    </li>
    <li>A sequence in which each successive term is obtained from the preceding term by multiplying it by a fixed number.<h2 id="common-ration">Common Ration</h2>
    </li>
    <li>Fixed nmber.<h2 id="harmonic-sequence">Harmonic Sequence</h2>
    </li>
    <li>A sequence of numbers whos reciprocals form an arithmetic sequence.<h2 id="harmonic-means">Harmonic Means</h2>
    </li>
    <li>It is term between any two terms in a harmonic sequence.<h2 id="arithmetic-series">Arithmetic Series</h2>
    </li>
    <li>The sum of the terms of the arithmetic sequence.<h2 id="arithmetic-means">Arithmetic Means</h2>
    </li>
    <li>It is a term between any two terms in an arithmetic sequence.<h2 id="arithmetic-sequence">Arithmetic Sequence</h2>
    </li>
    <li>A sequence of numbers in which the difference between any two consecutive terms is the same.<h2 id="fibonacci-sequence">Fibonacci Sequence</h2>
    </li>
    <li>An infinite sequence where in the first 2 terms are 1 and each term of the sequence starting fron the 3rd term is the sum of the 2 preceding terms.<h2 id="recursive-sequence">Recursive Sequence</h2>
    </li>
    <li>A sequence of numbers in which the first few terms of the sequence are given.<h2 id="partial-sum">Partial Sum</h2>
    </li>
    <li>The sum part of a sequence.</li>
    </ul>
</body>